@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
  background-color: #EAE0D5;
}

body {
  margin: 0 auto;
  max-width: 700px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: "Lora", serif;
  background-color: rgba(0, 0, 0, 0.05);
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}
nav a {
  margin-left: 20px;
}

.projects-section {
  clear: both;
  margin-top: 20px;
}

.projects-section h2 {
  margin-top: 0;
  padding-top: 0;
}

body {
  color: #444;
}
h1, h2, strong {
  color: #222;
}

header {
  margin: 0px;
  font-size: 23px;
}
article {
  font-size: 16px;
}

.projects-section ul {
  list-style: none;
  padding-left: 0;
}

.projects-section li {
  margin-bottom: 1em;
}

.projects-section li ul {
  list-style: disc;
  padding-left: 20px;
}

.projects-section li ul li {
  margin-bottom: 0.5em;
}

.project-meta {
  color: #666;
  font-size: 0.9em;
  margin-left: auto;
}

.project-title {
  font-weight: bold;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5em;
}

.project {
  margin-bottom: 1.5em;
}

nav {
  font-size: 18px;
  letter-spacing: 1px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 23px;
}

a {
  color: #5b86f8;
  text-decoration: none;
}

body {
  display: grid;
  row-gap: 5px;
  grid-template-columns: auto auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header nav"
    "ct ct"
}

header {
  grid-area: header;
  justify-self: left;
  align-self: end;
}
nav {
  grid-area: nav;
  justify-self: right;
  align-self: end;
}
nav a {
  text-align: right;
}
article {
  grid-area: ct;
  border-top: 2px solid gray;
  overflow: auto; /* Clear floats */
}

footer {
  grid-column: 1 / -1;
  border-top: 2px solid gray;
  padding: 5px;
  color: #000000;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 430px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
    grid-template-areas:
    "header"
    "nav"
    "ct"
  }
  header, nav {
    text-align: center;
    justify-self: center;
  }
  nav a {
    margin: 0 10px;
  }
}

